#red{
    background-color: red; height: 7ch;
}
#orange{
    background-color: orange; height: 70px;
}
#yellow{
    background-color: yellow; height: 70px;
}
#green{
    background-color: green;height: 70px;
}
#blue{
    background-color: blue;height: 70px;
}
#indigo{
    background-color: indigo;height: 70px;
}
#violet{
    background-color: violet;height: 70px;
}